SECRET_KEY=django-insecure-(cc7m@+c00f$$x58b@h)2*nifktdx#$$!al!_s)0888*w5c$$-u4n
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=your_database_name
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password