.dropdown {
  width: 425px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  user-select: none;
  color: var(--chernyy);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  transition: height 0.3s ease;

  .label {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }

  .arrow {
    margin-left: 10px;
  }

  .options {
    position: absolute;
    top: 80px;
    left: 0;
    width: 425px;
    max-height: 192px;
    border-top: 1px solid #000;
    background-color: #fff;
    overflow-y: auto;
    z-index: 10;

    .option {
      height: 68px;
      display: flex;
      padding-left: 20px;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  .options::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .options::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #757575;
  }
}
