.header {
  display: flex;
  width: 1440px;
  height: 113px;
  margin: 0 auto;
  position: relative;

  font-family: var(--font-family);

  & * {
    font-family: inherit;
    font-weight: 400;
    line-height: 24px;
  }

  .logoWrapper {
    cursor: pointer;
  }

  .ddd {
    background-image: url(/images/header-bg1.png);
    background-size: 1110px auto;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222222;

    .search_bar {
      margin-left: 139px;
      display: flex;
      width: 406px;
      height: 38px;
      border: 1px solid white;
      align-items: center;
      padding: 10px;

      .form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .search {
          margin: 0;
          border: none;
          width: 386px;
          font-size: 20px;
          line-height: 20px;
          color: var(--belyy);
          outline: none;
          background-color: transparent;
        }

        .button {
          display: flex;
          align-items: center;
          padding: 8px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    .burger {
      margin-left: 17px;
      display: flex;
      position: relative;
      z-index: 50;
      align-items: center;
      width: 30px;
      height: 20px;
      overflow: hidden;
      cursor: pointer;
    }

    .burger span {
      height: 2px;
      width: 100%;
      transform: scale(1);
      background-color: var(--belyy);
    }

    .burger::before,
    .burger::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: var(--belyy);
      transition: all 0.3s ease 0s;
    }

    .burger::before {
      top: 0;
    }
    .burger::after {
      bottom: 0;
    }

    .burger.active span {
      transform: scale(0);
    }
    .burger.active::before {
      top: 50%;
      transform: rotate(-405deg);
      transform: translate (0, -50%);
    }
    .burger.active::after {
      bottom: 50%;
      transform: rotate(405deg);
      transform: translate (0, 50%);
    }
  }

  .dropdownMenu {
    background-image: url(/images/header-bg2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--belyy);
    animation: slideDown 0.3s ease forwards;

    z-index: 100;

    .list {
      display: flex;
      padding: 0;
      margin: 12px 0 0;
      list-style-type: none;
      gap: 60px;

      .list_item {
        padding: 10px;
        cursor: pointer;
        &:hover {
          .link {
            color: #b73a34;
          }
        }

        .link {
          font-size: 20px;
          line-height: 150%;
          padding: 0;
          margin: 0;
          text-decoration: none;
          color: var(--belyy);
        }

        .linkactive {
          font-size: 20px;
          line-height: 150%;
          padding: 0;
          margin: 0;
          text-decoration: none;
          color: var(--krasnyy);
        }
      }
    }
    .list_item:first-child .link {
      color: var(--chernyy);
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.registration {
  margin-left: 131px;
  width: 261px;
  height: 60px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--akcentnyy-cvet-defauit);
  color: var(--belyy);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  border: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  outline: none;
}

.modalContent {
  border-radius: 10px;
  padding: 60px 40px;
  width: 626px;

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: var(--belyy);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60 auto;
}

.modalTitle {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #141315;
  margin-bottom: 32px;
}

.alreadyRegistered {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--chernyy);
  margin-bottom: 48px;
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--siniy);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputWrapper {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--chernyy);

  display: flex;
  flex-direction: column;
  gap: 8px;

  & input {
    border: 1px solid var(--chernyy);
    padding: 10px 20px;
    width: 408px;
    height: 52px;
    box-sizing: border-box;
  }
}

.socialsAuth {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  & .registration {
    margin: 0;
    width: 408px;
    height: 60px;
  }
}

.socialsAuthTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.07em;
  color: #000;
}

.iconsWrapper {
  display: flex;
  gap: 51px;
  align-items: center;
}

.conditions {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--chernyy);
  max-width: 408px;
}

.underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modalGoBack {
  cursor: pointer;
  position: absolute;
  top: 55px;
  left: 43px;
  outline: none;
  background: none;
  border: none;
}
