.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  transform: translateY(100%);
  outline: none;
  z-index: 100;
}

.container {
  border: 1px solid #000;
  padding: 15px;
  max-height: 321px;
  background: var(--belyy);
  display: flex;
  flex-direction: column;
  gap: 31px;
  overflow-y: scroll;
  position: relative;
  outline: none;
  text-align: left;

  & * {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-display: inherit;
    font-variant: inherit;
    font: inherit;
    cursor: pointer;
    text-transform: inherit;
  }
}

.container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #757575;
}

.arrow {
  position: fixed;
  top: 36px;
  right: 24px;
}
