.wrapperTitle {
  background-color: var(--siniy);
  padding: 20px 0 20px 48px;

  .title {
    margin: 0;
    color: var(--belyy);
    font-family: var(--third-family);
    font-size: 36px;
    font-weight: 500;
  }
}

.container {
  background-image: url("/images/contacts/contacts-bg2.png");
  display: flex;
  gap: 32px;
  padding: 48px 46px 68px;
  font-family: var(--font-family);

  .card {
    width: 427px;
    display: flex;
    flex-direction: column;
    background-color: var(--belyy);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid var(--chernyy);

    .name {
      margin-top: 16px;
      font-size: 24px;
      font-weight: 500;
    }
    .description {
      margin-top: 8px;
      font-size: 20px;
      font-weight: 400;
      min-height: 72px;
    }
    .mail {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
    }
    .tel {
      margin-top: 8px;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .button {
    margin-top: 8px;
    width: 386px;
    height: 60px;
    background-color: transparent;
    border: 1px solid var(--chernyy);
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
  }
}
