$mainPadding: 48px;
.wrapper {
  padding-left: $mainPadding;
  padding-right: $mainPadding;
  position: relative;
}

.title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  color: var(--chernyy);
  margin-top: 100px;
  margin-bottom: 68px;
}

.dropDownButton {
  border: 1px solid #000;
  padding: 15px;
  height: 80px;
  background: var(--belyy);

  font-family: var(--third-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--chernyy);

  position: relative;
  width: 100%;
  margin-bottom: 48px;
  outline: none;

  text-align: left;

  text-transform: uppercase;

  cursor: pointer;
}
