.wrapperTitle {
  background-color: var(--siniy);
  padding: 20px 0 20px 48px;

  .title {
    margin: 0;
    color: var(--belyy);
    font-family: var(--third-family);
    font-size: 36px;
    font-weight: 500;
  }
}

.container {
  background-image: url("/images/blog-bg2.png");
  display: flex;
  flex-direction: column;
  padding: 48px 48px 68px 48px;
  box-sizing: border-box;

  .cards {
    margin-top: 32px;
    display: flex;
    gap: 29px;

    .card {
      width: 427px;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #222222;

      .description {
        font-family: var(--font-family);
        margin-top: 16px;
        margin-bottom: 77px;
        font-size: 20px;
        font-weight: 400;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 5;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        color: var(--chernyy);
      }
    }

    .button {
      margin-top: 8px;
      width: 386px;
      height: 60px;
      background-color: transparent;
      border: 1px solid #222222;
      font-size: 32px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
