.sliderWrapper {
  display: flex;
  overflow: hidden;
  gap: 32px;
  margin-bottom: 25px;
}

.sliderItem {
  width: 377px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  flex-shrink: 0;
}

.sliderItemTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--krasnyy);
}

.sliderContent {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.sliderButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.sliderButton {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
