.content {
  background-image: url("/images/contacts/contacts-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 46px 68px;

  .title {
    font-family: var(--third-family);
    font-size: 70px;
    font-weight: 500;
    color: var(--chernyy);
  }

  .info {
    margin-top: 68px;
    display: flex;
    gap: 172px;

    .map {
      width: 885px;
      height: 544px;
      background-image: url("/images/contacts/map-contacts.png");

      .location {
        margin-top: 269px;
        margin-left: 449px;
      }
    }
    .contacts {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 116px;

      .paper1,
      .paper2,
      .paper3 {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        font-family: var(--font-family);
        color: var(--chernyy);
        gap: 10px;

        .contacts_title {
          margin: 0 auto;
          font-size: 16px;
          font-weight: 400;
          color: black;
          z-index: 9;
        }

        .text {
          font-size: 20px;
          font-weight: 500;
          z-index: 10;
        }

        .bg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      .paper1 {
        width: 287px;
        height: 280px;
        padding-top: 40px;
        box-sizing: border-box;
        position: relative;

        .text {
          margin: 0 auto;
        }
      }
      .paper2 {
        width: 259px;
        height: 273px;
        position: absolute;
        top: 245px;
        left: 168px;
        padding-top: 46px;
        padding-left: 27px;
        box-sizing: border-box;
        z-index: 10;
      }
      .paper3 {
        position: relative;
        width: 294px;
        height: 283px;
        padding-top: 55px;
        padding-left: 20px;
        box-sizing: border-box;
      }
    }
  }
}
