.main {
  padding: 72px 48px 60px 48px;
  background-image: url("/images/calendar/calendar-bg.png");

  .title {
    font-size: 70px;
    font-family: var(--third-family);
    font-weight: 500;
    color: var(--chernyy);
  }

  .content {
    margin-top: 62px;
    display: flex;
    gap: 34px;

    .choice {
      .calendarWrapper {
        background-color: var(--belyy);
        width: 425px;
        height: 409px;
        padding: 24px 23px;
        box-sizing: border-box;
      }

      .dropdownmenu {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .events {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .event {
        width: 885px;
        height: 321px;
        padding: 24px;
        box-sizing: border-box;
        background-color: var(--belyy);
      }
    }
  }
}
