.calendarContainer {
  width: 379px;
  height: 361px;
  border: 1px solid black;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  font-family: var(--font-family);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .navButton {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .weekdays {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 10px;
    color: rgba(60, 60, 67, 0.3);

    .weekday {
      width: 32px;
      text-align: center;
    }
  }

  .days {
    display: flex;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;

    .day {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 20px;
    }

    .day:hover {
      background-color: #f0f0f0;
      border-radius: 50%;
    }

    .selected {
      background-image: url("/images/calendar/metka.png");
      background-position: center;
      background-size: cover;
      color: black;
      overflow: visible;
      transform: scale(1.5);
    }

    .disabled {
      visibility: hidden;
    }
  }
}
