.container {
  background-image: url("/images/blog-bg1.png");
  height: 1830px;
  padding-top: 36px;
  box-sizing: border-box;

  .title {
    margin-left: 46px;
    font-family: var(--third-family);
    color: var(--chernyy);
    font-size: 70px;
    font-weight: 500;
  }

  .wrapperTitle {
    margin-top: 68px;
    background-color: var(--belyy);
    padding: 20px 0 20px 48px;

    .subtitle {
      margin: 0;
      color: var(--chernyy);
      font-family: var(--third-family);
      font-size: 36px;
      font-weight: 500;
    }
  }
}
