.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  background-color: #222222;
  padding: 47px 48px 0;
  color: var(--belyy);
  font-family: var(--font-family);

  .content {
    display: flex;
    margin-top: 34px;

    .info {
      width: 427px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .contact {
          margin: 0;
          padding: 10px;
          font-size: 20px;
        }
      }

      .infoo {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .inf {
          margin: 0;
          padding: 10px;
          font-size: 16px;
        }
      }

      .links {
        display: flex;
        gap: 16px;
        margin-left: 10px;
      }
    }

    .menu {
      margin-left: 135px;

      .title_menu {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }

      .nav {
        margin-top: 36px;
        .list {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          margin: 0;
          padding: 0;
          gap: 24px;

          .list_item {
            cursor: pointer;

            .link {
              margin: 0;
              font-size: 20px;
              font-weight: 400;
              text-decoration: none;
              color: var(--belyy);
            }
            .link:hover {
              color: var(--krasnyy);
            }
          }
        }
      }
    }

    .q {
      display: flex;
      flex-direction: column;
      width: 459px;
      margin-left: 85px;
      align-items: center;
      gap: 41px;

      .title {
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        margin: 0;
      }

      .button {
        margin-left: 35px;
        width: 261px;
        height: 60px;
        background-color: var(--krasnyy);
        border: none;
        color: var(--belyy);
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .text {
    margin: 59px auto 0;
    font-size: 16px;
    font-weight: 400;
  }
  .date {
    margin: 17px auto 18px;
    font-size: 16px;
    font-weight: 400;
  }
  .image {
    position: absolute;
    right: 50px;
    bottom: 28px;
  }
}
